@import 'variables'
@import 'bootstrap'

body
  background: rgb(23,24,27)

h1, h2, h3, h4, h5, h6
  font-family: $font-sans-serif
  color: #fff
  font-weight: 500
*, p
  font-family: $font-sans-serif
  color: #ffffff
p
  margin-top: 16px
  font-size: 1.2em
  line-height: 1.7em
  color: rgb(235,235,235)
  font-weight: 300

.about
  text-align: center
  margin-top: 140px

img
  box-shadow: 0 0 20px black

.title
  margin-top: 20px

.social-icons
  padding-top: 10px
  i
    font-size: 2em
  a:hover
    i
      color: $saloon-red
a
  color: $saloon-red
  &:hover
    color: $saloon-red

.avatar
  -webkit-animation-duration: 300ms
  -moz-animation-duration: 300ms
  -ms-animation-duration: 300ms
  animation-duration: 300ms
  -webkit-animation-delay: 0
  -moz-animation-delay: 0
  -ms-animation-delay: 0
  animation-delay: 0

.name
  -webkit-animation-duration: 300ms
  -moz-animation-duration: 300ms
  -ms-animation-duration: 300ms
  animation-duration: 300ms
  -webkit-animation-delay: 200ms
  -moz-animation-delay: 200ms
  -ms-animation-delay: 200ms
  animation-delay: 200ms

.skillset
  -webkit-animation-duration: 300ms
  -moz-animation-duration: 300ms
  -ms-animation-duration: 300ms
  animation-duration: 300ms
  -webkit-animation-delay: 200ms
  -moz-animation-delay: 200ms
  -ms-animation-delay: 200ms
  animation-delay: 200ms

.about-text
  -webkit-animation-duration: 500ms
  -moz-animation-duration: 500ms
  -ms-animation-duration: 500ms
  animation-duration: 500ms
  -webkit-animation-delay: 600ms
  -moz-animation-delay: 600ms
  -ms-animation-delay: 600ms
  animation-delay: 600ms

.email
  -webkit-animation-duration: 500ms
  -moz-animation-duration: 500ms
  -ms-animation-duration: 500ms
  animation-duration: 500ms
  -webkit-animation-delay: 1025ms
  -moz-animation-delay: 1025ms
  -ms-animation-delay: 1025ms
  animation-delay: 1025ms

.twitter
  -webkit-animation-duration: 500ms
  -moz-animation-duration: 500ms
  -ms-animation-duration: 500ms
  animation-duration: 500ms
  -webkit-animation-delay: 1050ms
  -moz-animation-delay: 1050ms
  -ms-animation-delay: 1050ms
  animation-delay: 1050ms

.github
  -webkit-animation-duration: 500ms
  -moz-animation-duration: 500ms
  -ms-animation-duration: 500ms
  animation-duration: 500ms
  -webkit-animation-delay: 1000ms
  -moz-animation-delay: 1000ms
  -ms-animation-delay: 1000ms
  animation-delay: 1000ms
