.about {
  text-align: center;
}

.about h1,
.about h2,
.about h3 {
  color: white;
  font-weight: 500;
}

.about h1 {
  font-size: 2.2em;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.2;

  animation-delay: 200ms;
}

.about h2 {
  margin-top: 30px;
  font-size: 1.2em;
  line-height: 1.7;
  color: #ebebeb;
  font-weight: 300;

  animation-delay: 600ms;
}

.about h3 {
  font-size: 1em;
  color: #999999;
  font-weight: 400;
  animation-delay: 200ms;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;

  animation-delay: 250ms;
}

.about .avatar {
  box-shadow: 0 0 20px black;
  border-radius: 50%;

  animation-delay: 0;
}

.about .social-icons {
  padding-top: 10px;
}

.about .social-icons a {
  color: white;
  font-size: 2.2em;
  transition: color 200ms;
}

.about .social-icons a:hover {
  color: #ff6464;
}

.about .social-icons .github {
  animation-delay: 1000ms;
}

.about .social-icons .email {
  animation-delay: 1025ms;
}

.about .social-icons .linkedin {
  animation-delay: 1050ms;
}

.about .social-icons .twitter {
  animation-delay: 1075ms;
}
