<!doctype html>
<html lang="en-US" class="philipp-spiess">

<head>
  <title>{% if page.title %}{{ page.title | xml_escape }} &mdash; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Philipp Spiess">
  <meta name="city" content="Vienna">
  <meta name="country" content="Austria">
  <meta name="state" content="Vienna">
  <meta name="zipcode" content="1190">
  <meta name="geo.position" content="48.208174;16.373819">
  <meta name="geo.placename" content="Vienna, VIE">
  <meta name="geo.region" content="AT">
  <meta name="robots" content="index, follow">

  {% seo title=false %}

  <link rel="shortcut icon" href="https://secure.gravatar.com/avatar/046db2877d2f9342de37d0d59c5df4a9?s=32" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">

  {% feed_meta %}
</head>

<body>
  <div class="container">
    {{ content }}
  </div>
  <script type="text/javascript">
  var clicky_site_ids = clicky_site_ids || [];
  clicky_site_ids.push(101115144);
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//static.getclicky.com/js';
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
  </script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101115144ns.gif" /></p></noscript>
</body>
</html>
